numpy
scipy
pandas
Beaker==1.6.3
Chameleon==2.8.0
Mako==0.6.2
MarkupSafe==0.15
Paste==1.7.5.1
PasteDeploy==1.5.0
PasteScript==1.7.5
Pygments==1.5
WebOb==1.2b3
pyramid==1.2.7
pyramid-beaker==0.6.1
pyramid-debugtoolbar==1.0.1
repoze.lru==0.5
translationstring==1.1
venusian==1.0a3
wsgiref==0.1.2
zope.component==3.12.0
zope.deprecation==3.5.1
zope.event==3.5.1
zope.interface==3.8.0
