
/*
 * Mistic general css
 */
 
body {
  font-family: helvetica,arial,sans-serif;
  background-color: #f0f0f0;
  padding: 60px 0px 0px 0px;
}

input.valid {
  color: blue;
}

input.locate {
  width:160px;

}

div#graph {
  margin-top: 5px;
  border: 1px solid #aaa;
}

.circlelabel {
  font-family: helvetica; 
}



.highlighted1, .highlighted_turquoise {
  fill : rgb(0, 204, 204); 
}

.highlighted2, highlighted_blue {
  fill : rgb(0, 154, 255); 
}

.highlighted3, .highlighted_red {
  fill : rgb(255, 43, 0); 
}

.highlighted4, .highlighted_purple {
  fill : rgb(199, 21, 133); 
}

.notselected {
  fill : rgb(0, 0, 0); 
}

.selected, .highlighted_green {
  fill : rgb(20, 216, 28); 
}



.extent {
  fill-opacity: .125;
  fill: 'black';
  shape-rendering: crispEdges;
  cursor:crosshair;
}

.resize {
  fill: 'blue';
  visibility: visible;
}

circle {
  fill-opacity: 1;
}

div#more-information {
   font-family: helvetica,arial,sans-serif;
   font-size: 11px; 
}
div#more-information a,
div#more-information a:hover
{
  text-decoration: none;
  color : rgb(58, 55, 55);
  pointer-events : none;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a:hover {
  background-color: #66aacc;
}

.go-cellular_component span.label,
.go-biological_process span.label,
.go-molecular_function span.label,
.gene-item             span.label {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  padding: 2px 4px 1px;
  border: 1px solid white;
  font-weight: inherit;
}
.go-cellular_component span.label { background-color: #800; }
.go-biological_process span.label { background-color: #080; }
.go-molecular_function span.label { background-color: #008; }

.gene-item  span.label { color: black; background-color: #ddd; }


.label,
.badge {
  display: inline-block;
  
}

.accordion-body {
  background-color: #ffffff;
}

.accordion-heading {
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.accordion-toggle, .accordion-toggle:hover,
.accordion-toggle:focus  {
  cursor: pointer;
  text-decoration: none;
  color:#333333;
}

.dropdown-submenu {
    left: 100%;
    position: absolute;
    top:0;
    visibility: invisible;
    display: none;
    margin-top: -1px;
}

.dropdown-menu li:hover .dropdown-submenu {
    visibility: visible;
    display: block;
   
}

